<div class="cont-p" >

    <div class="head-g">

        <div class="tiltle-g">

            <h2 class="t">Game of Verbs </h1>

        </div>

        <div class="nav-g">

            <div class="g-signin2" data-onsuccess="onSignIn"></div>

        </div>


    </div>

</div>