<div class="cont-p" >

    <div class="head-g">

        <div class="tiltle-g">

            <h2 class="t">Lista de verbos</h1>

        </div>

        <div class="nav-g">

            <div class="g-signin2" data-onsuccess="onSignIn"></div>

        </div>


    </div>

    <div class="body-g">

        <div class="c">
            <div class="cg">
                <input type="text">
            </div>
            <div class="cg">
                <input type="text">
            </div>
        </div>

    </div>

</div>