<div class="tabs">
    <div class="tab">
        <a class="en" onclick="start('Login')">Login</a>
    </div>
    
    <div class="tab">
        <a class="en" onclick="start('Sin-up')">Sin up</a>
    </div>
</div>