<div class="login" align="center">
    <div class="tiltle-login">

        <h2>Bienvenido</h2>

    </div>

    <div class="form-login">

        <form action="#" id="#login">

            <div class="campos"> 

                <div class="campo">

                  <label for="usuario">Usuario</label>
                  <input class="inp1" type="text" id="usuario" placeholder="Ingrese sus datos">

                </div>
                
                <div class="campo">

                  <label for="contraseña">Contraseña</label>
                  <input  type="password" id="contraseña" placeholder="Ingrese sus datos">

                </div>           

            </div>  

            <div class="btn">

                <input type="submit" class="btn1" value="Entrar" onclick="leerLogin();">

                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                
                
            </div>
            
        </form> 

    </div>
                  
</div>     
        