<div class="login" align="center">

    <div class="form-login p-5">

        <div class="card">
            <div class="card-header">
                Featured
            </div>
        <div class="card-body">
            <div class="g-signin2 p-4" data-onsuccess="onSignIn"></div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>
                  
</div>     
        