<div class="login" align="center">

    <div class="tiltle-login">

        <h2>Bienvenido</h2>

    </div>

    <div class="form-login">

        <form action="#" id="#login">

            <div class="campos"> 

                <div class="campo">

                  <label for="">Usuario</label>
                  <input class="inp1" type="text" id="usuario">

                </div>
                <div class="campo">

                  <label for="">Contraseña</label>
                  <input  type="password" id="contraseña">

                </div>           

            </div>  

            <div class="btn">

                <input type="submit" class="btn1" value="Entrar" onclick="leerLogin();">

            </div>
            
        </form> 

    </div>
                  
</div>     
        