<div class="navbar">
        <div class="en">
        <div class="enl">
            <a href="Inicio">Inicio</a>
        </div>
        <div class="enl">
            <a href="Reservaciones">Reservaciones</a>
        </div>
        <div class="enl">
            <a href="Eventos">Eventos</a>
        </div>
        <div class="enl">
            <a href="Menu">Menu</a>
        </div>
        
    </div>

</div>
  

