<div class="navbar">
    <div class="en">
        <div class="enl">
            <a href="#">Inicio</a>
        </div>
        <div class="enl">
            <a href="#">Reservaciones</a>
        </div>
        <div class="enl">
            <a href="#">Eventos</a>
        </div>
        <div class="enl">
            <a href="#">Menu</a>
        </div>
    
    </div>

</div>
  

