

    <div class="tiltle-sinup">

        <h2>Ingrese sus datos</h2>

    </div>
    
    <div class="campos">

        <div class="campo">

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre">

        </div>

        <div class="campo">

            <label for="">Edad</label>
            <input type="number" id="edad">

        </div>

    </div>

    <div class="campos">

        <div class="campo er">

            <label for="">Correo</label>
            <input type="text" id="correo">

        </div>

        <div class="campo er">

            <label for="">Contraseña</label>
            <input type="password" id="con">

        </div>

    </div>

    <div class="btn">

        <input type="submit" class="btn1" value="Entrar" onclick="saveUsuario();">
    
    </div>


        