<div class="panel-login">
  
    <div class="header-panel">
        <div class="tabs">
          <div class="tab">
            <a class="en" onclick="start('Login')">Login</a>
          </div>
           <div class="tab">
            <a class="en" onclick="start('Sin-up')">Sin up</a>
          </div>
        </div>
      </div>
      <div class="body-panel">
        <div id="Login" class="city">

          {{> login }}

        </div>

          <div id="Sin-up" class="city" style="display:none">
            <div class="sinup" align="center">
              <h2>Ingrese sus datos</h2>
              <div class="campos">
                <div class="campo">
                  <label for="nombre">Nombre</label>
                  <input type="text" id="nombre" >
                </div>           
                <div class="campo">
                  <label for="edad">Edad</label>
                  <input type="number" id="edad">
                </div>
              </div>
              <div class="campos">
                <div class="campo er">
                  <label for="correo">Correo</label>
                  <input type="text" id="correo">
                </div>
                <div class="campo er co">
                  <label for="con">Contraseña</label>
                  <input type="password" id="con">
                </div>
              </div>
              <div class="btn">
                <input type="button" class="btn1" value="Entrar" onclick="saveUsuario();">
              </div>
            </div>
        </div>

    </div>
</div>