<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>
<body>

  <div class="container-principal">

    <div class="panel-login">
      <div class="header-panel">
        <div class="tabs">
          <div class="tab">
            <a class="en" onclick="start('Login')">Login</a>
          </div>
           <div class="tab">
            <a class="en" onclick="start('Sin-up')">Sin up</a>
          </div>
        </div>

      </div>
      <div class="body-panel">
        <div id="Login" class="city">
          <div class="login" align="center">
            <h2>Ingrese sus datos</h2>
            <div class="campos">
              <div class="campo">
                <label for="">Usuario</label>
                <input type="text" name="" id="">
              </div>
              <div class="campo">
                <label for="">Contraseña</label>
                <input type="text" name="" id="">
              </div>
            </div>
            
          </div>     
        </div>
          <div id="Sin-up" class="city" style="display:none">
            <h2>London2</h2>
            <p>London is the capital of England.</p>
          </div>
      </div>

    </div>

    
    

  </div>
<script src="/js/index.js"></script>
</body>
</html>