<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name = "google-signin-client_id" content = "133982771167-4pqvk30vklglgbimbpo3hvl3fp6nf122.apps.googleusercontent.com">
  <meta  name = " theme-color "  content = "#F0DB4F " >
  <meta  name = " MobileOptimized "  content = " width " >
  <meta  name = " HandheldFriendly "  content = " true " >
  <meta  name = " apple-mobile-web-app-status-bar-style "  content = " black-translucent " >
  <link  rel = " manifest "  href = " ./manifest.json" >
  <title>PWA</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link type="text/css" rel="stylesheet" href="/css/index.css">
   <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
    <div class="cont">

        <div class="header">
            {{> nav }}
        </div>
    
        

    </div>

    <a href="#" onclick="signOut();">Sign out</a>
<script src="/js/index.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="/js/app.js"></script>


</body>

</html>
 