
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: #ffffff;
}

.panel-login{
    background-color: #FFD653;
    max-width: 1100px;
    margin: 0 auto;
    width: 450px;
    border-radius: 8px;
}
.tabs{
    display: flex;
    justify-content: space-around;
    background-color: #1FB294;
    
    
}
.tab{
    margin: 5px;
    padding: 5px;
    
    
}

.en{
    padding: 10px;
    
    
}
.en:hover{
    color: aliceblue;
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}

h2{
    color: black;
}
.login{
    padding: 15px;
}
.campos{
    display:flex;
   justify-content: space-around;

}
.sinup{
    padding: 15px;
}

input[type=text] {
    
    box-sizing: border-box;
    border: 2px solid rgba(45, 211, 175, 0.753);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin: 5px;
  }
  
  input[type=text]:focus {
    border: 2px solid #1FB294;
  }
.btn1{
    padding: 6px;
    width: 90px;;
    background-color: #1FB294;
    border: none;
}
.btn{
    margin-top: 10px;
}